<div class="todo__items">
    <div class="todo__item" *ngFor="let obj of todoArr">
        <div class="name">{{ obj.name }}</div>
        <div class="priority">{{ obj.priority }}</div>
        <div class="description">{{ obj.description }}</div>
        <div class="date_done">Дата виконання: {{ obj.date_done }}</div>
        <div class="bnt">
            <button (click) = 'deleteItem(obj.id)'>Видалити</button>
            <button (click) = 'editItem(obj.id)'>Редагувати</button>
        </div>
    </div>
</div>
