/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FBF3D5;
    padding: 20px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    color: #6a6a6a;
}